name: Deploy Static Website to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production         

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id:     AKIAVAAOFL3LRDWFXCGL
          aws-secret-access-key: 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
          aws-region:           us-east-1 

      - name: Deploy to S3
        run: |
          aws s3 sync . s3:/my-portfolios3bucket\
            --exclude ".git/*" \
            --exclude ".github/*" \
            --delete               
